* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans';
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.container.sections-with-h2 {
  padding: 114px 0;
}

.page-button {
  width: 180px;
  height: 57px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #101010;
  text-transform: uppercase;
  outline: none;
}

.text-header-2 {
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  height: 27px;
  line-height: 27px;
  color: #222222;
}

.section-description {
  max-width: 880px;
  margin: 30px auto 60px auto;
  font-size: 16px;
  text-align: center;
}

header {
  -webkit-box-shadow: 0 1px 3px 0 rgba(155, 155, 155, 0.2);
          box-shadow: 0 1px 3px 0 rgba(155, 155, 155, 0.2);
  background-color: #fbfbfb;
}

header .container {
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  color: #646464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-address {
  padding-right: 12px;
  border-right: 1px solid #e6e5e5;
  margin-right: 10px;
}

header .social-icon {
  font-weight: bold;
  cursor: pointer;
}

header .social-icon + .social-icon {
  margin-left: 12px;
}

header .social-icon:hover {
  color: #43a906;
}

.navigation-panel .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 105px;
  line-height: 105px;
}

.navigation-panel .logo-text {
  font-family: "Roboto Slab";
  position: relative;
  top: 4px;
  color: #3e3e3e;
  font-size: 29px;
  font-weight: bold;
}

.navigation-panel .leaf-icon {
  position: absolute;
  font-size: 23px;
  top: -10px;
  left: 18px;
  color: #43a906;
}

.navigation-panel .leaf-icon + .leaf-icon {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  left: 41px;
}

.navigation-panel .nav-link {
  font-family: "Roboto Slab";
  color: #393939;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-panel .nav-link:hover, .navigation-panel .nav-link.active {
  color: #43a906;
}

.navigation-panel .nav-link.active {
  position: relative;
}

.navigation-panel .nav-link.active::before {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  height: 5px;
  background-color: #43a906;
  bottom: -43px;
}

.navigation-panel .nav-link + .nav-link {
  margin-left: 34px;
}

/* .protect-nature {
    background-image: url("../img/nature.jpg");
    background-color: #bdbebd;

    .img-shadow {
        width: inherit;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.15);
    }

    .container {
        height: 785px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: 'Lato';
        color: #ffffff;
    }

    .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .SH-span1 {
            font-size: 45px;
            line-height: 72px;
            font-weight: 400;
            letter-spacing: -0.23px;
        }

        .SH-span2 {
            font-size: 72px;
            font-weight: bold;
            line-height: 90px;
        }

        .SH-span3 {
            font-size: 20px;
            font-weight: bold;
            line-height: 90px;
        }
    }


} */
.protect-nature {
  position: relative;
  height: 785px;
}

.protect-nature .carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.protect-nature .carousel-slide.active {
  opacity: 1;
  z-index: 1;
}

.protect-nature .slide-content {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(calc(-50% + 35px));
          transform: translateY(calc(-50% + 35px));
  font-family: 'Lato';
  text-transform: uppercase;
  color: #ffffff;
}

.protect-nature .slide-content .slide-header {
  font-size: 45px;
  line-height: 1.6;
  letter-spacing: -0.23px;
}

.protect-nature .slide-content span {
  display: block;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.25;
}

.protect-nature .slide-content p {
  margin: 0;
  font-size: 20px;
  line-height: 4.5;
}

.protect-nature .slide-button {
  display: inline-block;
  width: 180px;
  height: 57px;
  border-radius: 2px;
  background-color: #101010;
  line-height: 57px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Lato';
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.protect-nature .slide-back {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.protect-nature .slide-back-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .05;
}

.protect-nature .carousel-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 31px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.protect-nature .carousel-dots .carousel-dot {
  height: 13px;
  width: 13px;
  border: solid 3px #e6e5e5;
  border-radius: 50%;
  padding: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.protect-nature .carousel-dots .carousel-dot.active {
  background-color: #e6e5e5;
}

.protect-nature .carousel-dots .carousel-dot + .carousel-dot {
  margin-left: 7px;
}

.welcome .welcome-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .welcome-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .welcome-item .welcome-circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 2px #c4c4c4;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

.welcome .welcome-item .welcome-circle .welcome-icon {
  font-size: 45px;
  color: #c4c4c4;
}

.welcome .welcome-item .welcome-circle .welcome-icon.tint {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.welcome .welcome-item h3 {
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  height: 15px;
  line-height: 15px;
  color: #393939;
  margin: 34px 0 0 0;
}

.welcome .welcome-item:hover .welcome-circle, .welcome .welcome-item.active .welcome-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #43a906;
  background-color: #43a906;
}

.welcome .welcome-item:hover .welcome-icon, .welcome .welcome-item.active .welcome-icon {
  color: #ffffff;
}

.welcome .welcome-item:hover h3, .welcome .welcome-item.active h3 {
  color: #43a906;
}

.welcome .welcome-description {
  max-width: 250px;
  font-size: 14px;
  color: #646464;
  text-align: justify-center;
  line-height: 1.71;
  margin-top: 25px;
}

.volunteer {
  background-color: #222222;
  height: 302px;
  padding: 100px 0;
}

.volunteer .become-vol {
  position: relative;
  height: 34px;
  line-height: 34px;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.volunteer .become-vol span {
  color: #43a906;
}

.volunteer .volunteer-description {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  display: inline-block;
  color: #ffffff;
}

.volunteer .volunteer-description div {
  display: inline-block;
  margin: 0;
  width: 720px;
  font-size: 14.5px;
  line-height: 1.66;
}

.volunteer .page-button {
  position: absolute;
  right: 19px;
  top: 34px;
  width: 208px;
  font-family: inherit;
  height: 52px;
  font-size: 18px;
  background-color: #43a906;
}

.latest-work .text-header {
  color: #222222;
}

.latest-work .section-description {
  line-height: 1.75;
  color: #393939;
}

.latest-work .tab-button {
  height: 45px;
  line-height: 43px;
  font-family: "Roboto Slab";
  border-radius: 2px;
  padding: 0 24px;
  border: solid 1px #e9e9e9;
  background-color: #f6f6f6;
  color: #6a6b6a;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.latest-work .tab-button:hover {
  color: #ffffff;
  background-color: #43a906;
}

.latest-work .tab-control {
  text-align: center;
  margin-bottom: 55px;
}

.latest-work .tab-button + .tab-button {
  margin-left: 6px;
}

.latest-work .tab-item {
  display: none;
}

.latest-work .tab-item.active {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 285px;
  gap: 10px;
}

.latest-work .work-case:nth-child(5n+1),
.latest-work .work-case:nth-child(5n+5) {
  grid-column: span 2;
  background-color: red;
}

.latest-work .work-case:nth-child(5n+3) {
  grid-row: span 2;
  background-color: yellow;
}

.latest-work .work-case {
  position: relative;
}

.latest-work .work-case > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.latest-work .work-case:hover .case-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-work .case-description {
  display: none;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgba(3, 3, 3, 0.85);
  color: white;
  font-family: "Roboto Slab";
  font-size: 16px;
  text-transform: uppercase;
}

.achievements {
  position: relative;
  background-color: #bdbebd;
  color: #fff;
  /* .container {
        // position: absolute;
        // left: 0;
        // right: 0;
        // top: 0;
        // bottom: 0;
    } */
}

.achievements .text-header-2 {
  color: #fff;
}

.achievements .achieve-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achievements .achieve-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: auto;
  font-family: "Roboto Slab";
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.achievements .numbers > span {
  position: relative;
  height: 37px;
  line-height: 33px;
  font-size: 37px;
}

.achievements .numbers > span::before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #fff;
  right: 1.5px;
  left: 1.5px;
  bottom: -20px;
}

.achievements .ach-icon {
  color: #43a906;
  font-size: 80px;
}

.achievements .bolt {
  -webkit-transform: skewY(-20deg);
          transform: skewY(-20deg);
}

.achievements .envira {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.event-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 588px;
}

.event-content .event-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.event-content .event-left .left-top {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event-content .event-left .left-bot {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event-content .event-left .event-item {
  width: 50%;
  height: 100%;
  background-color: #bdbebd;
}

.event-content .event-left .event-item.not-empty {
  background-color: #eff0f2;
  padding: 30px 26px 35px 26px;
  text-align: center;
}

.event-content .event-left .text-header-2 {
  height: 18px;
  line-height: 18px;
  font-size: 18px;
}

.event-content .event-left .under-head {
  margin: 0;
  margin-top: 16px;
  height: 15px;
  font-size: 14px;
  color: #6c6b6b;
  font-family: "Roboto Slab";
}

.event-content .event-left .underhead-text {
  margin: 0;
  margin-top: 23px;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 1.71;
  color: #646464;
}

.event-content .event-left .page-button {
  width: 129px;
  height: 40px;
  font-size: 12px;
  font-family: 'Open Sans';
  line-height: 9px;
  margin-top: 26px;
}

.event-content .event-left .page-button:hover {
  color: #ffffff;
  background-color: #43a906;
}

.event-content .event-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.event-content .event-right .event-about + .event-about {
  margin-top: 34px;
}

.event-content .event-right .event-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event-content .event-right .event-about .event-img-item {
  display: inline-block;
  width: 95px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.event-content .event-right .event-about .text-header-2 {
  margin: 0;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  text-transform: capitalize;
  color: #454444;
  text-align: left;
}

.event-content .event-right .event-about .text-for-image {
  margin-left: 22px;
}

.event-content .event-right .event-about span {
  display: inline-block;
  font-size: 14px;
  padding-top: 20px;
  color: #646464;
  line-height: 1.71;
}

.testimonials {
  background-color: black;
  color: #ffffff;
}

.testimonials .text-header-2 {
  color: #ffffff;
}

.testimonials .section-description {
  margin: 30px auto 114px auto;
}

.testimonials .testimonial-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials .feedback {
  position: relative;
  background-color: #fff;
  font-style: italic;
  font-size: 14px;
  color: #646464;
  line-height: 1.86;
  max-width: 570px;
  padding: 68px 19px 55px 65px;
}

.testimonials .feedback .fdb-quote {
  position: absolute;
  left: 25px;
  font-size: 24px;
  line-height: 0.83;
  color: #222222;
  text-align: right;
}

.testimonials .feedback .feedback-photo {
  position: absolute;
  top: -58px;
  left: 231px;
  width: 107px;
  height: 105px;
  border-radius: 100%;
  background-color: #bdbebd;
}

.testimonials .feedback-info {
  margin: 32px auto 0 auto;
  text-align: center;
}

.testimonials .feedback-info > p {
  margin: 0;
  font-family: "Roboto Slab";
  font-size: 15px;
  line-height: 1.6;
}

.testimonials .feedback-info .name-fdb-position {
  color: #43a906;
}

.latest-blog .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-blog .blog-content .blog-item {
  width: 347px;
  border: solid 1px #d1d3d1;
  border-radius: 2px;
}

.latest-blog .blog-content .blog-img {
  height: 245px;
  background-color: #bdbebd;
}

.latest-blog .blog-content .blog-comment {
  padding: 37px 20px 30px 20px;
}

.latest-blog .blog-content .comment-title {
  font-family: "Roboto Slab";
  display: inline-block;
  height: 57px;
  font-size: 22px;
  line-height: 1.59;
  color: #454444;
}

.latest-blog .blog-content .comment-info {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #aeadad;
  height: 14px;
}

.latest-blog .blog-content .comment-info .comment-date {
  font-size: 13px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.65px;
}

.latest-blog .blog-content .comment-info .comment-date + .comment-date {
  border-left: 1px solid;
  padding-left: 9px;
  margin-left: 4px;
}

.latest-blog .blog-content .comment-info .comment-stat {
  font-size: 16px;
}

.latest-blog .blog-content .comment-info .comment-stat span {
  margin-left: 7px;
  font-size: 14px;
  font-family: "Roboto Slab";
}

.latest-blog .blog-content .comment-main {
  margin-top: 31px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  color: #646464;
}

.latest-blog .blog-content .readmore {
  display: inline-block;
  margin-top: 27px;
  line-height: 11px;
  height: 11px;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #545353;
}

.latest-blog .blog-content .readmore:hover {
  color: #43a906;
}

.buy-wordpress {
  background-color: rgba(0, 0, 0, 0.73);
}

.buy-wordpress .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.buy-wordpress .page-button {
  height: 47px;
  width: 211px;
  background-color: #43a906;
  font-size: 18px;
  font-family: "Roboto Slab";
}

.buy-wordpress span {
  font-family: "Roboto Slab";
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.get-in {
  background-color: #eeeeee;
}

.get-in .get-in-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.get-in .get-in-office {
  width: 550px;
  font-size: 14px;
  color: #696969;
}

.get-in .office-main {
  padding-left: 3px;
  margin-top: 3p;
}

.get-in .office-info span {
  margin-left: 10px;
}

.get-in .office-info + .office-info {
  margin-top: 25px;
}

.get-in .office-info:last-of-type {
  margin-bottom: 46px;
}

.get-in .drop-msg {
  width: 570px;
}

.get-in .get-in-header {
  font-size: 22px;
  text-align: left;
}

footer {
  padding: 37px 0;
  background-color: #222222;
  height: 90px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container > span {
  color: #fff;
  font-size: 14px;
  height: 15px;
  line-height: 15px;
}
/*# sourceMappingURL=main.css.map */